@model IEnumerable<SkillExchange.Web.Areas.User.Models.CategoriesViewModel>

@if (Model.Any())
{
    <div class="list-group">
        <div class="list-group-item active">
            Categories
        </div>
        @foreach (var category in Model)
        {
            <div class="list-group-item">
                <a href="#">@category.Name </a>
                <span class="badge">@category.UserSkillsCount</span>
            </div>
        }
    </div>
}