@model SkillExchange.Web.Areas.User.Models.ConversationSummaryViewModel

<div class="list-group-item conversation-summary @(Model.HasNewMessages ? "active" : "")"
     id="@Model.InterlocutorName">
    @Model.InterlocutorName
</div>

