@model IEnumerable<SkillExchange.Web.Areas.User.Models.TownViewModel>


@if (Model.Any())
{
    <div class="list-group col-lg-2">
        <div class="list-group-item active">
            Towns
        </div>
        <div class="list-group-item active">
            <a href="#">All</a>
        </div>
        @foreach (var town in Model)
        {
            <div class="list-group-item">
                <a href="#">@town.Name </a>
                <span class="badge">@town.UserSkillsCount</span>
            </div>
        }
    </div>
}