@model IEnumerable<SkillExchange.Web.Areas.User.Models.NotificationViewModel>


<main class="col-lg-10 col-lg-offset-1">
    @if (Model.Any())
    {
        <ul class="list-group">
            @foreach (var notification in Model)
            {
                <li class="list-group-item @(notification.IsRead ? "unread-notification" : "")">
                    @notification.Content
                    if (!notification.IsRead)
                    {
                        <button class="btn btn-success">Mark as Read</button>
                    }
                </li>
            }
        </ul>
    }
    else
    {
        <div class="text-center">
            <h2>No notifications yet</h2>
        </div>
    }
</main>


