@model IEnumerable<SkillExchange.Web.Areas.User.Models.NotificationViewModel>


<main class="col-lg-6 col-lg-offset-3">
    @if (Model.Any())
    {

            foreach (var notification in Model)
            {
                <div class="list-group-item text-center @(!notification.IsRead ? "unread-notification" : "read-notification")">
                    @Html.Raw(@notification.Content)
                    @if (!notification.IsRead)
                    {
                        <div class="mark-button">
                            @using (Html.BeginForm(
                                "MarkAsRead",
                                "Notifications",
                                new { area = "User", notificationId = notification.Id },
                                FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button class="btn btn-success" type="submit">Mark as Read</button>
                            }
                        </div>
                    }
                </div>
            }
    }
    else
    {
        <div class="text-center">
            <h2>No notifications yet</h2>
        </div>
    }
</main>


