@using SkillExchange.Web.Areas.User.Models
@model  NotificationMessage

<main>
    <div>
        @if (Model.Type == NotificationMessageType.Error)
        {
            <h1 class="text-danger text-center">
                @Model.Content
            </h1>
        }
    </div>
</main>

