@model IEnumerable<SkillExchange.Web.Areas.User.Models.UserProfileViewModel>
@{
    ViewBag.Title = "Home";
}


<aside class="col-lg-2">
    @Html.Action("Categories")
</aside>
<aside class="col-lg-2">
    @*@Html.Action("Towns")*@
</aside>
<section class="col-lg-8 col-lg-offset-1">
    <div class="page-header text-center no-top-margin">
        <h2 class="text-primary no-top-margin">Most active users</h2>
    </div>
    @foreach (var user in Model)
    {
        <div class="col-lg-4">@Html.DisplayFor(u => user)</div>
    }
</section>

