@model SkillExchange.Web.Areas.User.Models.MessageInputModel

<aside class="col-lg-3">
    @Html.Action("Conversations")
</aside>
<main class="col-lg-8 col-lg-offset-1">
    <div id="conversation" class="text-center well clearfix conversation">
        <p class="text-warning">No conversation selected</p>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/messages")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
}

