body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2%
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*User area css*/
.no-padding {
    padding: 0
}

.unread-notification {
    background: rgb(203, 170, 109);
    border: 1px solid rgb(100, 100, 100)
}

.read-notification {
    background: rgb(217, 237, 247);
    border: 1px solid rgb(100, 100, 100)
}

.mark-button {
    margin-top: 2%;
}

.skill-section-title {
    margin-bottom: 2%;
}

.add-skill-editor {
    margin-bottom: 2%;
}

.add-skill-btn {
    display: inline-block;
    margin-top: 3%;
}

.add-skill-btn:hover {
    text-decoration: none;
    cursor: pointer;
}

.remove-skill-btn:hover {
    text-decoration: none;
    cursor: pointer;
}

.user-summary-profile {
    min-height: 150px;
    max-height: 150px;
    overflow: auto
}

.send-message-btn {
    margin-top: 2%
}

.conversation-summary:hover {
    cursor: pointer;
    opacity: 0.9;

}
/*User area css*/
